@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="jumbotron text-center">
    <h1 class="display-3">Thank you for completing our survey!</h1>
    <hr>
    <p class="lead"><strong>Join our website</strong> for more surveys.</p>
</div>
